extends layout

block content
  h1= title

  p
    | This is the home page of a test project that demonstrates an API (application programming interface)
    | that allows interrogation of metadata applicable to learning content
    | in the
    |
    a(href='https://www.i-learn.vlaanderen') i-Learn project
    |
    | and beyond.

  p Several versions were made.

  p Readers interested in using the API can go testing immediately via the swagger page of a currently supported version:
    ul
      li #[a(href=`${swaggerRoutes.v1}`) Swagger page for v1]
      li #[a(href=`${swaggerRoutes.v2}`) Swagger page for v2]

  p More information is available on the following pages:
    ul
      li #[a(href=`${pageMetadata.url}`) #{pageMetadata.title}]
      li #[a(href=`${pageSkos.url}`) #{pageSkos.title}]
      li #[a(href=`${pageNoSkos.url}`) #{pageNoSkos.title}]
      li #[a(href=`${pageGraphical.url}`) #{pageGraphical.title}]
      li #[a(href=`${pageApiV1.url}`) #{pageApiV1.title}]
      li #[a(href=`${pageApiV2.url}`) #{pageApiV2.title}]
      li #[a(href=`${pageApiHistory.url}`) #{pageApiHistory.title}]
